# Byte-compiled / cache / logs
__pycache__/
*.py[cod]
*.log

# Virtual environment
venv/
env/
ENV/
.venv/

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# SQLite / Local DB dumps (opcional)
*.sqlite3
*.db

# Python env files (se usar dotenv)
.env
.env.*

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# MyPy / Pylint
.mypy_cache/
.dmypy.json
.pyre/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/
